@use './assets/scss/partials/header';
@use './assets/scss/partials/main';
@use './assets/scss/partials/footer';
@use './assets/scss/partials/variables';


// import font with google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin:0 auto;
    max-width: 1140px;
}

img{
    max-width: 100%;
}

.col-2{
    width: calc(100% / 12) * 2;
}

