@use './assets/scss/partials/header';
@use './assets/scss/partials/main';
@use './assets/scss/partials/footer';
@use './assets/scss/partials/variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin:0 auto;
    max-width: 1140px;
}

img{
    max-width: 100%;
}

.col-2{
    width: calc(100% / 12) * 2;
}

